extends layout

block content
  script(src="javascripts/websockets.js")
  script(src="javascripts/video/fetch.js")
  script(src="javascripts/video/load.js")
  script(src="javascripts/peer/peer.js")
  script(src="javascripts/peer/seeder.js")
  script(src="javascripts/peer/leecher.js")

  video(controls, muted)



